MYSQL_DATABASE=kuserfeedback
MYSQL_USER=kuserfeedback
MYSQL_PASSWORD=kuserfeedback
MYSQL_ROOT_PASSWORD=password
MYSQL_HOST_DATA=./mysql-data
HOST_HTTP_PORT=8083
LDAP_ON=TRUE
LDAP_BIND_PATTERN=uid=$1,dc=company,dc=com
LDAP_URL=ldaps://ldap.example.com